
.filtros {
    background-color: #edf6f9;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.filtros-lista {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    max-width: 960px;
  }

.fecha span {
    padding: 0px 5px;
  }

.fecha {
    display: flex;
  }

.bx {
    font-size: 1.3em;
  }

.bxs-calendar {
    font-size: 1.4em;
    position: relative;
    top: -1px;
  }

.contenedor-select {
    display: flex;
    margin-left: 5px;
  }

.contenedor-select .bx {
    padding-right: 3px;
  }

input, select {
    max-height: 35px;
    height: 3.2vh;
    cursor: pointer;
    border-radius: 5px;
    background-color:#f8f8f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
  }

input {
    width: 13vw;
    max-width: 150px;
    padding: 10px;
}

select {
    width: 10vw;
    max-width: 100px;
    padding: 0px 5px;
}

select > option {
    font-size: 1em;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color:#f0ebeb;
    font-size: 0.9em;
    background-color:#0a7099;
    text-align: center;
    transition: all 0.2s;
    margin-left: 20px;
    cursor:pointer;
  }

button .bx {
    padding-right: 10px;
  }

button:hover {
    background-color:#0a7cad;
    cursor: pointer;
  }

@media all and (max-width:30em) {
    button {
        display:block;
        margin:2px auto;
        }
   }